*
{
    
    padding: 0px;
    font-family: 'Playfair Display', serif;
    
}

body
{   width: 80%; 
    margin-left:auto; 
    margin-right: auto; 
    min-height:100%;
    height:100%;
    background-color: #FFFFFF;
}
.half-width
{
  padding: 30px;

}
.half-width h1
{
  font-size: 50px;
  color: #363958;
  font-weight: bolder;
  text-transform: uppercase;

}
.half-width p
{
  color:dimgrey;
  text-align: justify;
  font-size: 20px;
}
.half-width img
{
  width: 70%;
  
}
#half-box-shadow-effect
{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

section
{
  margin-bottom: 40px;
}



/* Nav bar css start from here */

.nav-bar
{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-bar ul 
{
  list-style: none;
  display: flex;
  justify-content: end;
}
.nav-bar ul li 
{
    padding: 20px;
    margin-left: 5px; 
    
}
.nav-bar ul li a 
{ 
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    
}

/* top-banner section css start from here */

.top-banner
{
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: minmax(100px,auto);
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
}

.name-highlight
{
  color: #FF8367    ;
}
.hire-button
{   
    display:inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid #f6d365;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    border-radius: 5px;
 
}

/* About-section css start from here */

.about-section
{
  display: grid;
  grid-template-columns: repeat(2,40%);
  grid-template-rows: minmax(100px,auto);
  grid-gap: 60px;
  justify-content: center;
  align-items: center;

}
.download-button
{
    display:inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid #f6d365;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: rgb(245, 243, 243);
    border-radius: 5px;
    font-weight: 500;
} 

/* Latest-section Css start from here */

.latest-work-section
{
  background-color: #F8F9FC;
}
.latest-work-section h1
{
   font-size: 50px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   color:rgb(4, 52, 92);
   
   
}
.latest-highlight
{
  color: crimson;
}
.latest-container
{
  display: grid;
  grid-template-columns: repeat(3,30%);
  grid-template-rows: minmax(100px,auto);
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.project
{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;

}
.project-detalis h1
{
     color: crimson;
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 600;
}
.project-img img
{
  width: 100%;
}
.visit-button
{
    display:block;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #f6d365;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: rgb(245, 243, 243);
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}

/* work-inquriy section css start from here */

.work-inquriy
{ 
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-image: url(Accessories/shapes/Group_33094_1.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100% 100%,contain;
  margin-bottom: 50px;
}

.work-inquriy h1
{
   font-size: 40px;
   font-weight: 900;
   text-transform: uppercase;

}

.let-chat-button
{  
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 40px;
  border: 2px solid #f6d365;
  background-image: linear-gradient(120deg, #F76961 0%, #fda085 100%);
  color: rgb(245, 243, 243);
  border-radius: 5px;
  font-weight: 500;

  
}

/* footer section css start from here */

footer
{ 
  width:20%;
  margin: auto;
}
footer p
{
  text-align: center;
}

footer h1 
{
  color:lightcoral ;
  font-weight: 900;
  text-align: center;
}
.logo-container
{
  display: flex;
  justify-content:center; 
}
.logo-container img
{
  width: 15%;
}
